body{
	font-family: 'Pay';
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

#usMap{
	position: absolute;
	z-index: 4;
	background-color: rgb(245, 245, 245);
	border: solid black;
	border-radius: 10px;
    margin-top: 300px;
    display: block;
    margin-left: 200px;
    height: 400px;
    width: 640px;
}

.dropdown{
	position: absolute;
    display: none;
    margin-top: 7vh;
    margin-left: -0.3vw;
}

#header {
	position: absolute;
	height: 90px;
	width: 1890px;
	margin-left: -8px;
	margin-top: -280px;
}

#TopBar{
	position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 4vh;
    height: 3vw;
}


#logo:hover{
    opacity: 0.4;
}
#logo{
	position: absolute;
	z-index: 1;
	height: 4vh;
	width: 2.5vw;

}
#TopBar:hover .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#abLogo{
	position: absolute;
	word-wrap: break-word;
	height: 100px;
	width: 100px;
	margin-top:0px;
	margin-left: 400px;
}
#abstract {
	position: absolute;
	z-index: 3;
	background-color: rgb(245, 245, 245);
	font-size: 30px;
	border: solid black;
	border-radius: 10px;
    margin-top: 300px;
    margin-left: 1100px;
    margin-bottom: 100px;
    height: 400px;
    width: 500px;
    padding-left: 40px;
    text-align: left;
}

#abstract p {
	margin-top: 100px;
}
#topBar{
    position: absolute;
    background-color: rgba(250, 33, 0, 100);
    height: 6vh;
    width: 100vw;
    margin-top: -1vh;
    margin-left: -0.4vw;
}

.title{
	position: absolute;
    margin-top: 12vh;
    margin-left: 40vw;
    text-align: center;
    color: white;
    font-size: 90px
}


.tabs {
	positon: absolute;
    border: 1px solid black;
    width: 70px;
    text-align: center;
    background-color: rgba(82, 82, 82, 100);
    color: rgb(213, 240, 247);
    max-height: 40px;
    margin-top: -15px;
}


.tabs:hover {
    background-color: rgb(196, 196, 196);
    
}
.urls{
    text-decoration: none;
    color: blue;
}

.urls:hover{
    color: #a9cffc; 
}

.urls:visited{
    color: blue;
    text-decoration: none;
}

